#drop-zone {
  border: 7px dashed rgb(138, 136, 136);
  padding: 2em 1.5em;
}


#inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: relative;
  z-index: -1;
  margin: auto;
}

#chart-container {
  height: 370px;
  width: 100%;
  display: none;
}

.card {
  color: #000;
  text-shadow: none;
}